/*Styles da página de captura*/
.capture-page {
    display: flex;
    width: 100%;
    height: 100vh;
    color: #FEFEFE;
}
/*Styles do container esquerdo*/
.leftSide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
/*Styles do container direito*/
.rightSide-container {
    display: flex;
    width: 50%;
}
