.capturePage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #FEFEFE;
    transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.slide-in {
  /* Defina a posição final dentro da tela */
  transform: translateX(0);
}
