.thanksForSubscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 10% 0 0 0;
    width: 100%;
    height: 100%;
    /* background-color: pink; */
    
}
.titleThanksSubscribe {
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 4rem;
}
.subtitleThanksSubscribe {
    margin: .5rem 0 0 0;
    font-weight: 400;
    font-size: 1.4rem;
    opacity: 60%;
}
.imageLaunchFooter-container {
    margin: 2rem 0 0 0;
}